<h1>Bio-Page</h1>
<div class="durp">
    <img src="../../assets/images/me.jpg" height="200" width="250">
</div>


<div class="si">
    <h2>  Early Life & UnderGrad: Illinois State University</h2>

    <p>
        I have spent most of my early life in Chicago's northside essentially trying to figure out my purpose in life.
        I was a smaller child growing up and I always felt like I needed to prove myself. So I went about making others laugh to fit in.
        I was a good child and always respected my elders, but I did get in fights because other children didn't think I was tough because of my overall appearance(little kid with big puffy redhair).
        So in highschool I joined the wrestling team and wasn't to bad either, but I never had that drive to push myself further, all I really wanted was to play video games and spend time with my friends.
        This all really came to fruition in college. I was getting ready to graduate with a political science degree, and in the process became more disillusioned than ever.
        I spent four years learning how important politics and government was to fixing/making our country better,
        and how we achieved some of our greatest feats, as a country, striving for things like freedom of speech, religion and democracy. But, after absorbing all this I realized there was something more.
        Our predecessors stood together in a unified purpose and fought evil, foreign and domestic. Not only this, but they selfless served for those that couldn't fight.
        Who am I, as an able bodied American, if i didn't make some sacrifice to our country for others. And that was the final lesson I learned from politics and college.
        Not long after college I joined the US Army. 
    </p>
</div>

<div class="si">
    <h2> Military Career </h2>
    <p>
        I joined the US Army as quickly as possible and took the first job they presented me with, which turned out to be a generator mechanic. I didn't really aspire to be a mechanic, but I wanted to learn how to fix things with my hands,
        but more importantly, it had an Airborne option attached to the contract. I've always been a history buff and loved the Airborne soldiers from WWII, and I thought about joining the elite force to push myself harder than ever.
        I wanted all of this to change my work ethic, primarily. I've alwasy been able to get by in life with my intellect, but I never had any drive to raise the bar.
        This was my chance. You are cut off from the rest of the world in the Army, while training. I left everything behind, and I was scared. But, I needed to grow up.
        I did find something special that changed my life in the Army and that was my beautiful wife, Kayla who was from Virginia. I met her while training and we kept a long distance relationship since she also joined the Army.
        After finishing basic training, Airborne school was next and it was an arduous experience. You ran all day long in the hot Georgian sun to prepare yourself for.... jumping out of a plane?
        As an aside I think they want paratroopers to be able to run long distances because they never get dropped in the landing zone/proper location. We had to run for miles with a bunch of gear, as well as, your parachute (and spare) which isn't light.
        But, my gosh nothing beats falling out of the sky and landing on earth, Its an adrenaline that starts pumping just thinking about it. Never would I imagine they would send me up to Alaska after I graduated Airborne shool.
        But, I was joined by my wife there. We spent some great and tough times together, but that only brought us closer. Marriage has it's bumps, but the Army turns those bumps into hills.
        We worked alot, didn't see eachother enough, and were "stressed out" constantly. But, we fought through it all, together.
        I spent the rest of my military career in Alaska fixing generators, heaters, and vehicles in the absurbly cold snowy winters of Alaska. The whole time we were breathing it all in and seeing some of the most beautiful landscapes this world has to offer.
        We recommend Alaska to anyone looking for a beautiful vacation.
        I worked real hard in the Army and was given many "hats to wear" like sending soldiers to training/schools to further their careers,
        fixing soldier's pay issues, or running our Ground Support Equipment shop...all while getting my squad ready for promotions.
        All the work I did for others and the knowledge I gained paid off when achieved the rank my grandpa did in WWII, the greatest rank of all....Sergeant.
        Its the back-bone of the Army, since we are closest to the soldiers and the primary leaders everyone relies on to get things done. Its an honor to wear the stripes.
    </p>
</div>

<div class="si">
    <h2> Grad School: DePaul University & After the Army</h2>
    <p>
        I finished my contract in the Army, but my family wanted me home. I had been away for almost four years so my wife and I drove from Alaska to Chicago,
        where we both used our GI Bills to go back to school. The Army makes you adapt to your environment,
        and I could see this world changing before me very rapidly now. I knew that I needed to make a career change,
        so I decided to turn to computers. I love the science that goes into computers, its like a puzzle.
        You have to decipher and think quickly. I immersed myself in every concentration I could get my hands on like;
        data structures, time complexty of algorithms, object oriented principles, networking, web development, and database technologies.
        I think when it comes down to it, I like the efficiency that computer science brings out of you.
        You try to be lazy by making the computer or algorithm do the work for you.
        The lesser the human logic needed the better. I enjoy the subtleties of computer security,
        or the networking/communcation needed to get the internet into what it is today.
        Its wild to think how easily you can create whatever you want with an idea and a computer.
        So hear I am creating a web site to offload some of my material I have on my resume.
        I hope you enjoyed reading a little about who I am and what I can do! Thanks for stopping by!  
    </p>
</div>



