<div class="top-header">
  <h1 class="jcHeader1">{{ title }}</h1>
  <h2 class="jcHeader2">By: {{ author }}</h2>
  <ul class="nav-bar">
    <li class="nav-link"><a class="nav-tag" [routerLink]="['/title']"> Title Page</a></li>
    <li class="nav-link"><a class="nav-tag-last" [routerLink]="['/bio']"> About Me </a></li>
  </ul>

</div>

<like-button *ngFor="let l of data | async; let i = index" [i] ="i" [likes]="l"></like-button>

<div>
  <router-outlet></router-outlet>
  <!--components are shown here -->
</div>
