<h1>My Projects</h1>

<div>
    <h2>Real-Time Systems: Space Invaders Game</h2>
    <p>Written in C++... blah blah blah</p>
    <div>
            <a href="https://github.com/ramjam1215/SpaceInvaders">
                My Source Code on GitHub
            </a>
    </div>
    
    <div>
        <a href="http://youtu.be/W0iKOQ_Qanw?hd=1">YouTube Video Demo</a>
    </div>
    
</div>

<div>
    <h3>Mobile Development: Rick&Morty Game</h3>
    <p> Written in Swift.... blah blah blah</p>
    <div>
        <a href="https://github.com/ramjam1215/RickAndMortyGame">
            My Source Code on GitHub
        </a>
    </div>
   
    <div>
        <a href="https://youtu.be/vt18P1Xw8lM">YouTube Video Demo</a>
    </div>
    
</div>

<div>
    <h4>Other Projects and Concepts</h4>
</div>